# Name
name: Publish Beta & Release 

# Triggers
on:
  workflow_dispatch:

# Environment
env:
  # XC setup
  XC_VERSION: ${{ '13.2.1' }}
  XC_WORKSPACE: ${{ 'Fonttastic.xcworkspace' }}
  XC_SCHEME: ${{ 'Fonttastic' }}
  XC_EXPORT_OPTIONS_FILE_PATH: ${{ './CI/ExportOptions.plist' }}
  # Version Formats
  MARKETING_VERSION_FORMAT: ${{ '([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?' }}
  PROJECT_VERSION_FORMAT: ${{ '[0-9\.]{1,}' }}
  # Keychain
  KEYCHAIN: ${{ 'fonttastic-ios.keychain' }}
  # Certificates
  ENCRYPTED_CERTS_FILE_PATH: ${{ './CI/certs.p12.gpg' }}
  DECRYPTED_CERTS_FILE_PATH: ${{ './CI/certs.p12' }}
  CERTS_ENCRYPTION_PWD: ${{ secrets.CERTS_ENCRYPTION_PWD }}
  CERTS_EXPORT_PWD: ${{ secrets.CERTS_EXPORT_PWD }}
  # Provisioning Profiles
  ENCRYPTED_PROVISION_FILE_PATH: ${{ './CI/provisioning.tar.gz.gpg' }}
  DECRYPTED_PROVISION_FILE_PATH: ${{ './CI/provisioning.tar.gz' }}
  PROVISION_ENCRYPTION_PWD: ${{ secrets.PROVISION_ENCRYPTION_PWD }}
  # Project Versioning
  CURRENT_PROJECT_VERSION_PATH: ${{ './.current-project-version' }}

# Jobs
jobs:
  archiveAndPublish:
    name: Archive and Publish
    runs-on: macos-latest
    strategy:
      matrix:
        include:
          - xcConfig: 'Beta'
            xcArchivePath: './artifacts/Fonttastic-Beta.xcarchive'
            xcExportPath: './artifacts/Fonttastic-Beta'
            appPath: './artifacts/Fonttastic-Beta/Fonttastic.ipa'
            projectVersionSuffix: '.9.41'
          - xcConfig: 'Release'
            xcArchivePath: './artifacts/Fonttastic-Release.xcarchive'
            xcExportPath: './artifacts/Fonttastic-Release'
            appPath: './artifacts/Fonttastic-Release/Fonttastic.ipa'
            projectVersionSuffix: ''
    env:
      # XC Setup
      XC_CONFIG: ${{ matrix.xcConfig }}
      XC_ARCHIVE_PATH: ${{ matrix.xcArchivePath }}
      XC_EXPORT_PATH: ${{ matrix.xcExportPath }}
      # Versioning
      PROJECT_VERSION_SUFFIX: ${{ matrix.projectVersionSuffix }}
    steps:
      # Echo Run
      - name: Echo Run
        run: echo "Running job with '$XC_CONFIG' configuration"

      # Select latest Xcode
      - name: Select latest Xcode
        run: "sudo xcode-select -s /Applications/Xcode_$XC_VERSION.app"

      # Checkout repository
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          lfs: true

      # Checkout LFS objects
      - name: Checkout LFS objects
        run: git lfs checkout

      # Add Project Version Suffix If Needed
      - name: Add Project Version Suffix If Needed
        run: |
          echo "$CURRENT_PROJECT_VERSION_PATH contents is '$(cat $CURRENT_PROJECT_VERSION_PATH)', will append '$PROJECT_VERSION_SUFFIX'"
          echo "$PROJECT_VERSION_SUFFIX" >> $CURRENT_PROJECT_VERSION_PATH
          echo "$CURRENT_PROJECT_VERSION_PATH contents is now '$(cat $CURRENT_PROJECT_VERSION_PATH)'"

      # Fetch Dependencies & Generate Project
      - name: Fetch Dependencies & Generate Project
        run: |
          sudo chmod +x ./generate-project.sh
          ./generate-project.sh

      # Get Version Numbers
      - name: Get Version Numbers
        id: versions
        run: |
          echo "Getting marketing version..."
          /usr/bin/xcrun agvtool what-marketing-version
          /usr/bin/xcrun agvtool what-marketing-version | grep -Eo "$MARKETING_VERSION_FORMAT" | head -1
          echo "::set-output name=MARKETING_VERSION::$( /usr/bin/xcrun agvtool what-marketing-version | grep -Eo "$MARKETING_VERSION_FORMAT" | head -1 )"
          echo "Getting project version..."
          /usr/bin/xcrun agvtool what-version
          /usr/bin/xcrun agvtool what-version | grep -Eo "$PROJECT_VERSION_FORMAT" | head -1
          echo "::set-output name=PROJECT_VERSION::$(/usr/bin/xcrun agvtool what-version | grep -Eo "$PROJECT_VERSION_FORMAT" | head -1)"

      # Print App Version
      - name: Print App Version
        run: |
          echo "App version would be ${{ steps.versions.outputs.MARKETING_VERSION }}(${{ steps.versions.outputs.PROJECT_VERSION }})"

      # Configure Keychain
      - name: Configure Keychain
        run: |
          security delete-keychain "$KEYCHAIN" || true
          security create-keychain -p "" "$KEYCHAIN" || true
          security list-keychains -s "$KEYCHAIN"
          security default-keychain -s "$KEYCHAIN"
          security unlock-keychain -p "" "$KEYCHAIN"
          security set-keychain-settings

      # Decrypt Certificates and Provisioning Profiles
      - name: Decrypt Certificates and Provisioning Profiles
        run: |
          gpg -d -o "$DECRYPTED_CERTS_FILE_PATH" --pinentry-mode=loopback --passphrase "$CERTS_ENCRYPTION_PWD" "$ENCRYPTED_CERTS_FILE_PATH"
          gpg -d -o "$DECRYPTED_PROVISION_FILE_PATH" --pinentry-mode=loopback --passphrase "$PROVISION_ENCRYPTION_PWD" "$ENCRYPTED_PROVISION_FILE_PATH"

      # Import Cetificates to Keychain
      - name: Import Cetificates to Keychain
        run: |
          security import "$DECRYPTED_CERTS_FILE_PATH" -k "$KEYCHAIN" -P "$CERTS_EXPORT_PWD" -A
          security set-key-partition-list -S apple-tool:,apple: -s -k "" "$KEYCHAIN"

      # Install Provisioning Profiles
      - name: Install Provisioning Profiles
        run: |
          tar xzvf $DECRYPTED_PROVISION_FILE_PATH
          mkdir -p "$HOME/Library/MobileDevice/Provisioning Profiles"
          for PROVISION in `ls ./*.mobileprovision`
          do
            UUID=`/usr/libexec/PlistBuddy -c 'Print :UUID' /dev/stdin <<< $(security cms -D -i ./$PROVISION)`
            cp "./$PROVISION" "$HOME/Library/MobileDevice/Provisioning Profiles/$UUID.mobileprovision"
          done

      # Archive Project
      - name: Archive Project
        run: |
          mkdir -p artifacts
          /usr/bin/xcodebuild archive -workspace "$XC_WORKSPACE" -scheme "$XC_SCHEME" -configuration "$XC_CONFIGURATION" -archivePath "$XC_ARCHIVE_PATH" "OTHER_CODE_SIGN_FLAGS=--keychain '$KEYCHAIN'"

      # Export Archive
      - name: Export Archive
        run: |
          /usr/bin/xcodebuild -exportArchive -exportOptionsPlist "$XC_EXPORT_OPTIONS_FILE_PATH" -archivePath "$XC_ARCHIVE_PATH" -exportPath "$XC_EXPORT_PATH"

      # Publish to TestFlight
      - name: Publish to TestFlight
        uses: apple-actions/upload-testflight-build@v1
        with: 
          app-path: ${{ matrix.appPath }}
          issuer-id: ${{ secrets.APPSTORE_ISSUER_ID }}
          api-key-id: ${{ secrets.APPSTORE_API_KEY_ID }}
          api-private-key: ${{ secrets.APPSTORE_API_PRIVATE_KEY }}

      # Upload Artifacts
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: "Fonttastic-${{ matrix.xcConfig }}-${{ steps.versions.outputs.MARKETING_VERSION }}(${{ steps.versions.outputs.PROJECT_VERSION }})"
          path: "./artifacts/"

  bumpProjectVersion:
    name: Bump Project Version
    needs: archiveAndPublish
    runs-on: macos-latest
    env:
      GITHUB_SECRET: ${{ 'TBD' }}
    steps:
      # Select latest Xcode
      - name: Select latest Xcode
        run: "sudo xcode-select -s /Applications/Xcode_$XC_VERSION.app"

      # Checkout repository
      - name: Checkout Repository
        uses: actions/checkout@v2

      # Fetch Dependencies & Generate Project
      - name: Fetch Dependencies & Generate Project
        run: |
          sudo chmod +x ./bump-project-version.sh
          ./bump-project-version.sh

      # Get Bumped Version
      - name: Get Bumped Version
        id: version
        run: |
          echo "::set-output name=PROJECT_VERSION::$( cat $CURRENT_PROJECT_VERSION_PATH )"

      # Add & Commit Changes & Open PR
      - name: Commit Changes & Open PR
        env:
          BRANCH: "feature/version-bump-${{ steps.version.outputs.PROJECT_VERSION }}"
        run: |
          git config --global user.name 'Fonttastic Bot'
          git config --global user.email 'fonttastic-bot@users.noreply.github.com'
          git checkout -b $BRANCH
          git add $CURRENT_PROJECT_VERSION_PATH
          git commit -m "Bumped current project version to ${{ steps.version.outputs.PROJECT_VERSION }}"
          git push -u origin $BRANCH
          hub pull-request --no-edit
